name: Issue assignment

on:
    issues:
        types: [opened]

jobs:
    auto-assign:
        runs-on: ubuntu-latest
        steps:
            - name: 'Auto-assign issue'
              uses: pozil/auto-assign-issue@v1.4.0
              with:
                  assignees: phantsure,tiwarishub,aparna-ravindra,vsvipul,bishal-pdmsft
                  numOfAssignee: 1
