name: Publish immutable action

on:
  release:
    types: [released]

permissions:
  contents: read
  id-token: write
  packages: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checking out
        uses: actions/checkout@v5
      - name: Publish
        id: publish
        uses: actions/publish-immutable-action@0.0.3
